@import "./src/kit/shared/styles/variables";
@import "./src/kit/shared/styles/mediaquery.mixins";

.sidebar-section {
  padding-bottom: 50px;
  &__title {
    font-size: 18px;
    font-family: $Montserrat;
    color: $secondary-color--f;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  @include max-width-480 {
    padding-bottom: 25px;
  }
}