@import "./src/kit/shared/styles/variables";
@import "./src/kit/shared/styles/mediaquery.mixins";

.container {
  min-width: 320px;
  max-width: 1170px;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0 80px;
  @include max-width-1170 {
    padding: 50px 20px 80px;
  }
  @include max-width-480 {
    padding: 20px 10px;
  }
  .sidebar {
    max-width: 270px;
    width: 100%;
    margin-right: 30px;
    @include max-width-480 {
      max-width: 100%;
      margin-right: 0;
    }
  }
  .price-wrap {
    position: relative;
    .filter-button {
      position: absolute;
      right: 29px;
      bottom: -7px;
      @include max-width-480 {
        position: relative;
        right: unset;
        bottom: unset;
        margin-top: 20px;
        width: 100%;
      }
    }
  }
  .reset-button {
    width: 100%;
    margin-top: 50px;
  }
  .main {
    flex-grow: 1;
    position: relative;
  }
}

.card-list {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit,minMax(270px,1fr));
  @include max-width-480 {
    grid-gap: 15px;
  }
}