//List of font color --f (font)
$main-color--f: #4c505b;
$secondary-color--f: #33363e;
$third-color--f: #a6a9af;
$fourth-color--f: #282d3b;

//List of BG color --bg (background)
$main-color--bg: #1cb8ff;
$secondary-color--bg: #d6d9e1;

//Border color --border
$main-color--border: #e9e9e9;

//Font-family
$Montserrat: 'Montserrat', sans-serif;
$OpenSans: 'Open Sans', sans-serif;
$Raleway: 'Raleway', sans-serif;
